#chat {
    border: 1px solid #ddd;
    width: 30em;
    min-height: 10em;
}

label {
    display: inline-block;
    width: 6em;
    cursor: pointer;
}

input {
    width: 20em;
}

#chat {
    padding: 0;
    list-style-type: none;
}
